<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>Appartoo</title>

        <meta name="description" content="3 styles with inline editable feature" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css" />

        <!-- page specific plugin styles -->
        <link rel="stylesheet" href="assets/css/jquery-ui.custom.min.css" />
        <link rel="stylesheet" href="assets/css/jquery.gritter.min.css" />
        <link rel="stylesheet" href="assets/css/select2.min.css" />
        <link rel="stylesheet" href="assets/css/bootstrap-datepicker3.min.css" />
        <link rel="stylesheet" href="assets/css/bootstrap-editable.min.css" />

        <!-- text fonts -->
        <link rel="stylesheet" href="assets/css/fonts.googleapis.com.css" />

        <!-- ace styles -->
        <link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

        <!--[if lte IE 9]>
                    <link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
            <![endif]-->
        <link rel="stylesheet" href="assets/css/ace-skins.min.css" />
        <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />

        <!--[if lte IE 9]>
              <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
            <![endif]-->

        <!-- inline styles related to this page -->
        <script src="assets/js/jquery.min.js"></script>

        <!-- Bootstrap 3.3.7 -->
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- ace settings handler -->
        <script src="assets/js/ace-extra.min.js"></script>

        <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

        <!--[if lte IE 8]>
            <script src="assets/js/html5shiv.min.js"></script>
            <script src="assets/js/respond.min.js"></script>
    
            <![endif]-->

    </head>

    <body class="no-skin" ng-app="Marsupilami" ng-controller="Marsupilami" >
        <div id="navbar" class="navbar navbar-default          ace-save-state">
            <div class="navbar-container ace-save-state" id="navbar-container">
                <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                    <span class="sr-only">Toggle sidebar</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>


            </div>
            <!-- /.navbar-container -->
        </div>

        <div class="main-container ace-save-state" id="main-container">
            <script type="text/javascript">
                        try {
                            ace.settings.loadState('main-container')
                        } catch (e) {
                        }
            </script>

            <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
                <script type="text/javascript">
                            try {
                                ace.settings.loadState('sidebar')
                            } catch (e) {
                            }
                </script>

            </div>

            <div class="main-content">
                <div class="main-content-inner">

                    <div class="page-content">


                        <!-- /.page-header -->

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->


                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <!-- register form -->
                                        <div class="main-login main-center" ng-show="token == ''">
                                            <form class="form-horizontal" method="post" action="#">
                                                <div class="form-group">
                                                    <label for="username" class="cols-sm-2 control-label">Username</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                            <input type="text" class="form-control" ng-model="registerUser.username"  placeholder="Enter your Username"/>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                            <input type="text" class="form-control" name="email" id="email" ng-model="registerUser.email" placeholder="Enter your Email"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password" class="cols-sm-2 control-label">Password</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                            <input type="password" class="form-control" name="password" id="password" ng-model="registerUser.plainPassword.first" placeholder="Enter your Password"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                            <input type="password" class="form-control" name="confirm" id="confirm" ng-model="registerUser.plainPassword.second" placeholder="Confirm your Password"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <button type="button" ng-click="register()" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                                                </div>
                                                <div class="login-register">
                                                    <a href="index.php">Login</a>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- end register -->
                                    </div>
                                    <div class="col-md-1"></div>  
                                    <div class="col-md-5">
                                        <div class="main-login main-center" ng-show="token == ''">
                                            <form class="form-horizontal" method="post" action="#">
                                                <div class="form-group">
                                                    <label for="username" class="cols-sm-2 control-label">Username</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                            <input type="text" class="form-control" placeholder="Enter your Username" ng-model="userlogin.username"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password" class="cols-sm-2 control-label">Password</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                            <input type="password" class="form-control" name="password" id="password" ng-model="userlogin.password" placeholder="Enter your Password"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <button type="button" ng-click="login()" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                                                </div>
                                                <div class="login-register">
                                                    <a href="index.php">Register</a>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-1"></div>  
                                    </div>
                                    <div class="hr dotted"></div>
                                    <div id="user-profile-2" ng-show="token != ''" class="user-profile">
                                        <div class="tabbable">
                                            <ul class="nav nav-tabs padding-18">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#home">
                                                        <i class="green ace-icon fa fa-user bigger-120"></i> Mes informations
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a data-toggle="tab" href="#feed" aria-expanded="false">
                                                        <i class="orange ace-icon fa fa-users bigger-120"></i>
                                                        Carnet d'adresse
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href='#editProfile' >
                                                        <i class="blue ace-icon fa fa-pencil  bigger-120"></i> Modifier
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content no-border padding-24">
                                                <div id="feed" class="tab-pane">
                                                    <div class="profile-feed row">
                                                        <!-- modal search friend -->
                                                        <div id="searchFriends" class="modal fade" tabindex="-1">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" id="btn_close_search_friend" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                        <h3 class="smaller lighter blue no-margin">Chercher des amis</h3>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Veillez saisir le nom de votre ami puis cliquer sur le button "Rechercher"
                                                                        <br>

                                                                        <div class="row">
                                                                            <div class="col-xs-12 col-sm-11 col-md-10">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" ng-model="keyword" name="keywords" placeholder="Look within results">
                                                                                    <div class="input-group-btn">
                                                                                        <button type="button" ng-click="search()" class="btn btn-default no-border btn-sm">
                                                                                            <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <br>
                                                                        <p> {[{ searchFriends.length }]} résultats trouvés </p>
                                                                        <br>
                                                                        <br> 
                                                                        <div id="search_friends" class="tab-pane active">
                                                                            <div class="profile-users clearfix">
                                                                                <div class="itemdiv memberdiv" ng-repeat="(key, friend) in searchFriends">
                                                                                    <div class="inline pos-rel">
                                                                                        <div class="user">
                                                                                            <a href="#">
                                                                                                <img src="assets/images/avatars/default_user.png" alt="Jim Doe's avatar">
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="body">
                                                                                            <div class="name">
                                                                                                <a href="#">
                                                                                                    <span class="user-status status-busy"></span> {[{friend.username}]}
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="popover right">
                                                                                            <div class="arrow"></div>
                                                                                            <div class="popover-content">
                                                                                                <b>Age</b> {[{friend.age}]}
                                                                                                <br>
                                                                                                <b>Famille</b> {[{friend.famille }]}
                                                                                                <br>
                                                                                                <b>Race</b> {[{friend.race}]}
                                                                                                <br>
                                                                                                <b>Nourriture</b> {[{friend.nourriture }]}
                                                                                                <br>
                                                                                                <div class="hr dotted hr-8"></div>
                                                                                                <div class="tools action-buttons">
                                                                                                    <a ng-click="addFriend(friend.id)">
                                                                                                        <i class="ace-icon fa fa-trash blue bigger-150"></i> Ajouter
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- friend -->

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button data-bb-handler="success" data-dismiss="modal" type="button" ng-click="" class="btn btn-sm btn-success">
                                                                            <i class="ace-icon fa fa-check"></i> Terminer</button>

                                                                    </div>
                                                                </div>
                                                                <!-- /.modal-content -->
                                                            </div>
                                                            <!-- /.modal-dialog -->
                                                        </div>
                                                        <!-- end modal search friend -->
                                                        <!-- invit -->
                                                        <div id="invit" class="modal fade" tabindex="-1">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" id="btn_close_search_friend" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                        <h3 class="smaller lighter blue no-margin">Inviter des amis</h3>
                                                                    </div>
                                                                    <div class="modal-body">

                                                                        <form>
                                                                            Vous pouvez inviter un ami pour vous joindre, ecrivez son adresse email puis cliquer sur "Inviter"
                                                                            <br>

                                                                            <input type="email" class="form-control" ng-model="invitation">
                                                                            <br>
                                                                            <br>
                                                                        </form>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" ng-click="invit()" class="btn btn-sm btn-success">
                                                                            <i class="ace-icon fa fa-envelope-o" ></i> Envoyer</button>
                                                                        <button data-bb-handler="danger" data-dismiss="modal" type="button" class="btn btn-sm btn-danger" > 
                                                                            <i class="ace-icon fa fa-times" data-bb-handler="cancel"></i> Annuler</button>
                                                                    </div>
                                                                </div>
                                                                <!-- /.modal-content -->
                                                            </div>
                                                            <!-- /.modal-dialog -->
                                                        </div>
                                                        <!-- invit -->
                                                        <!-- addFriends -->
                                                        <div id="addFriends" class="modal fade" tabindex="-1">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" id="btn_close_search_friend" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                        <h3 class="smaller lighter blue no-margin">Ajouter des amis</h3>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Vous pouvez ajouter des nouveaux amis sur votre réseaux
                                                                        <br>
                                                                        <p> {[{ users.length }]} utilisateurs inscri sur l'app </p>
                                                                        <br>
                                                                        <br>
                                                                        <div id="search_friends" class="tab-pane active">
                                                                            <div class="profile-users clearfix">
                                                                                <div class="itemdiv memberdiv" ng-repeat="(key, user) in users">
                                                                                    <div class="inline pos-rel">
                                                                                        <div class="user">
                                                                                            <a href="#">
                                                                                                <img src="assets/images/avatars/default_user.png" alt="Jim Doe's avatar">
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="body">
                                                                                            <div class="name">
                                                                                                <a href="#">
                                                                                                    <span class="user-status status-busy"></span> {[{user.username}]}
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="popover right">
                                                                                            <div class="arrow"></div>
                                                                                            <div class="popover-content">
                                                                                                <b>Age</b> {[{user.age}]}
                                                                                                <br>
                                                                                                <b>Famille</b> {[{user.famille }]}
                                                                                                <br>
                                                                                                <b>Race</b> {[{user.race}]}
                                                                                                <br>
                                                                                                <b>Nourriture</b> {[{user.nourriture }]}
                                                                                                <br>
                                                                                                <div class="hr dotted hr-8"></div>
                                                                                                <div class="tools action-buttons">
                                                                                                    <a ng-click="addFriend(user.id)">
                                                                                                        <i class="ace-icon fa fa-trash blue bigger-150"></i> Ajouter
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- addFriends -->
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button data-bb-handler="success" data-dismiss="modal" type="button" ng-click="" class="btn btn-sm btn-success">
                                                                            <i class="ace-icon fa fa-check"></i> Terminer</button>
                                                                    </div>
                                                                </div>
                                                                <!-- /.modal-content -->
                                                            </div>
                                                            <!-- /.modal-dialog -->
                                                        </div>
                                                        <!-- end addFriends -->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <a  class="btn btn-primary" href="#addFriends" name="search" data-toggle="modal" accesskey=""> <i class=" fa fa-plus bigger-150"></i> Ajouter</a>
                                                                <a  class="btn btn-success" href="#searchFriends" name="search" data-toggle="modal" accesskey=""> <i class=" fa fa-search bigger-150"></i> Chercher</a>
                                                                <a  class="btn btn-info" href="#invit" name="search" data-toggle="modal" accesskey=""> <i class=" fa fa-envelope-o bigger-150"></i> Inviter</a>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">

                                                                <div id="friends" class="tab-pane active">
                                                                    <div class="profile-users clearfix">
                                                                        <div class="itemdiv memberdiv" ng-repeat="(key, friend) in friends">
                                                                            <div class="inline pos-rel">
                                                                                <div class="user">
                                                                                    <a href="#">
                                                                                        <img src="assets/images/avatars/default_user.png" alt="Jim Doe's avatar">
                                                                                    </a>
                                                                                </div>
                                                                                <div class="body">
                                                                                    <div class="name">
                                                                                        <a href="#">
                                                                                            <span class="user-status status-busy"></span> {[{friend.username}]}
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="popover right">
                                                                                    <div class="arrow"></div>
                                                                                    <div class="popover-content">
                                                                                        <b>Age</b> {[{friend.age}]}
                                                                                        <br>
                                                                                        <b>Famille</b> {[{friend.famille }]}
                                                                                        <br>
                                                                                        <b>Race</b> {[{friend.race}]}
                                                                                        <br>
                                                                                        <b>Nourriture</b> {[{friend.nourriture }]}
                                                                                        <br>
                                                                                        <div class="hr dotted hr-8"></div>
                                                                                        <div class="tools action-buttons">
                                                                                            <a ng-click="removeFriend(friend.id)">
                                                                                                <i class="ace-icon fa fa-trash red bigger-150"></i> Retirer
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- friend -->
                                                            </div>
                                                        </div>
                                                    </div><!-- /.row -->
                                                </div>
                                                <div id="home" class="tab-pane in active">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-3 center">
                                                            <span class="profile-picture">
                                                                <img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" src="assets/images/avatars/marsupilami.jpg" />
                                                            </span>
                                                            <div class="space space-4"></div>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-xs-12 col-sm-9">
                                                            <h4 class="blue">
                                                                <span class="middle">{[{ user.username }]}</span>
                                                            </h4>
                                                            <div class="profile-user-info">
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Identifiant </div>

                                                                    <div class="profile-info-value">
                                                                        <span>{[{ user.username }]}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Age </div>

                                                                    <div class="profile-info-value">
                                                                        <span> {[{ user.age }]}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Famille </div>

                                                                    <div class="profile-info-value">
                                                                        <span> {[{ user.famille }]}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Race </div>

                                                                    <div class="profile-info-value">
                                                                        <span>{[{ user.race }]}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name">Nourriture </div>

                                                                    <div class="profile-info-value">
                                                                        <span>{[{ user.nourriture }]}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="hr hr-8 dotted"></div>
                                                        </div>
                                                        <!-- /.col -->
                                                    </div>
                                                    <!-- /.row -->
                                                    <div class="space-20"></div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6">

                                                        </div>
                                                    </div>
                                                </div>


                                                <div id="editProfile" class="tab-pane in">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-3 center">
                                                            <span class="profile-picture">
                                                                <img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" src="assets/images/avatars/marsupilami.jpg" />
                                                            </span>
                                                            <div class="space space-4"></div>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-xs-12 col-sm-9">
                                                            <h4 class="blue">
                                                                <span class="middle">{[{ user.username }]}</span>
                                                            </h4>
                                                            <div class="profile-user-info">
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Identifiant </div>

                                                                    <div class="profile-info-value">
                                                                        <input type="text" class="middle" ng-value="editUser.username" ng-init="editUser.username = user.username">
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Age </div>

                                                                    <div class="profile-info-value">
                                                                        <input type="text" class="middle" ng-value="editUser.age" ng-init="editUser.age = user.age">
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Famille </div>

                                                                    <div class="profile-info-value">
                                                                        <input type="text" class="middle" ng-value="editUser.username" ng-init="editUser.famille = user.famille">
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Race </div>

                                                                    <div class="profile-info-value">
                                                                        <input type="text" class="middle" ng-value="editUser.race" ng-init="editUser.race = user.username">
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name">Nourriture </div>

                                                                    <div class="profile-info-value">
                                                                        <input type="text" class="middle" ng-value="editUser.nourriture" ng-init="editUser.nourriture = user.username">
                                                                    </div>
                                                                </div>

                                                                <button ng-click="updateUser()">Enregistrer</button>
                                                            </div>
                                                            <div class="hr hr-8 dotted"></div>
                                                        </div>
                                                        <!-- /.col -->
                                                    </div>
                                                    <!-- /.row -->
                                                    <div class="space-20"></div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6">

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /#editProfile -->



                                            </div>
                                            <!-- /#friends -->
                                        </div>
                                    </div>
                                </div>
                                <!-- PAGE CONTENT ENDS -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.page-content -->
                </div>
            </div>
            <!-- /.main-content -->

            <div class="footer">
                <div class="footer-inner">
                    <div class="footer-content">
                        <span class="bigger-120">
                            <span class="blue bolder">Appartoo</span> Application &copy; 2018
                        </span>
                        &nbsp; &nbsp;
                        <span class="action-buttons">
                            <a href="#">
                                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div>
        <!-- /.main-container -->

        <!-- basic scripts -->

        <!--[if !IE]> -->
        <script src="assets/js/jquery-2.1.4.min.js"></script>

        <!-- <![endif]-->

        <!--[if IE]>
        <script src="assets/js/jquery-1.11.3.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
                                                                            if ('ontouchstart' in document.documentElement)
                                                                                document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
        </script>
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- page specific plugin scripts -->

        <!--[if lte IE 8]>
              <script src="assets/js/excanvas.min.js"></script>
            <![endif]-->
        <script src="assets/js/jquery-ui.custom.min.js"></script>
        <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
        <script src="assets/js/jquery.gritter.min.js"></script>
        <script src="assets/js/bootbox.js"></script>
        <script src="assets/js/jquery.easypiechart.min.js"></script>
        <script src="assets/js/bootstrap-datepicker.min.js"></script>
        <script src="assets/js/jquery.hotkeys.index.min.js"></script>
        <script src="assets/js/bootstrap-wysiwyg.min.js"></script>
        <script src="assets/js/select2.min.js"></script>
        <script src="assets/js/spinbox.min.js"></script>
        <script src="assets/js/bootstrap-editable.min.js"></script>
        <script src="assets/js/ace-editable.min.js"></script>
        <script src="assets/js/jquery.maskedinput.min.js"></script>

        <!-- ace scripts -->
        <script src="assets/js/ace-elements.min.js"></script>
        <script src="assets/js/ace.min.js"></script>
        <script src="assets/js/angular.js"></script>
        <script src="assets/js/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="bower_components/query-string/query-string.js"></script>
        <script src="bower_components/angular-oauth2/dist/angular-oauth2.min.js"></script>
        <!-- inline scripts related to this page -->
        <script src="assets/js/appartoo.js"></script>
    </body>
</html>